{% extends 'base.html' %}




{% block title %}BookStore-Books{%endblock %}


{% block content %}

<section>
  <header class="text-center text-3xl mt-2">

    <p class="text-3xl mt-5">Programming Books</p>


  </header>
</section>

<div class="book-section mt-3">
  <div class="grid grid-cols-3 gap-4 p-5">
    {% for book in book_list%}

    <a href="{% url 'book.show' book.id %}">

      <div class=" flex flex-col items-center justify-center h-full">
        <div class="max-w-sm rounded overflow-hidden shadow-lg h-full">
          <img class="w-full object-cover" src="{{book.ImageUrl}}" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{book.BookTitle}}</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
              eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#PDF</span>
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Audio</span>
            <!-- <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span> -->
          </div>
        </div>
      </div>

    </a>


    <!-- <section class="justify-self-center">
      <a>
        <h1 class="p-5 text-2xl"></h1>
        <img width="200"  alt="img" />
      </a>
    </section> -->
    {%endfor%}
  </div>
</div>
{% endblock%}